.content{
    & > h1{
        color: #E7B216;
    }
}
.segment-content{
    color: #00BCD4;
    font-size: 1.5em;
}
.main{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/code.png) no-repeat fixed;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 18%;
    // &:after{
    //     background: rgba(2,15,23,.55);
    //     content: "";
    //     width: 100%;
    //     height: auto;
    //     position: absolute;
    //     z-index: -1;
    //     top: 0;
    //     right: 0;
    //     left: 0;
    //     bottom: 0;
    // }
    h1.header{
        .content{
            color: #E7B216;
            .sub.header{
                    color: #00BCD4;
            }
        }
    }
}
.about{
  padding-top: 15%;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/puente.jpg) no-repeat fixed;
  background-size: cover;
}
.knowledge{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/code.jpg) no-repeat fixed;
    background-size: cover;
}
.portafolio{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/website.jpg) no-repeat fixed;
    background-size: cover;
}
.experience{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/workstation.jpg) no-repeat fixed;
    background-size: cover;
}

.contact{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/laptop.jpg) no-repeat fixed;
    background-size: cover;
    .ui.icon.header .icon.contact {
        display: inline !important;
    }
}

.social_icons{
    padding-top: 5% !important;
    a{
        margin-right: 5px;
        .icon{
            background: #FFF;
            &.github{
                color: #333;
            }
            &.linkedin{
                color: #0077b5;
            }
            &.twitter{
                color: #1da1f2;
            }
            &.mail{
                color: #ffa930;;
            }
        }
    }
}
