.contact{
    background: $gradient, url("~/src/images/laptop.jpg") no-repeat center fixed;
    background-size: cover;
    .ui.icon.header .icon.contact {
        display: inline !important;
    }
}
