.portafolio-item{
    background: transparent !important;
    .content{
        background: $mustard !important;
    }
    .extra.content{
        background: $cyan !important;
        .tag.label{
            margin-left: 1.5em;
            margin-top: .5em;
        }
    }
}
