.timeline{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    list-style: none;
    &:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 4px;
      background-color: #eeeeee;
      left: 50%;
      margin-left: -1.5px;
    }
    li{
        .label{
            .card{
                padding: 5%;
                line-height: 1.5em;
            }
            border-width: 3px;
        }
        .label.right{
            margin-left: -25% !important;
            background:$cyan !important;
            border-color: $mustard !important;
        }
        .label.left{
            margin-left: 20% !important;
            background:$mustard !important;
            border-color: $cyan !important;
        }
    }
}
