.timeline{
    width: 100%;
    margin: 0 auto;
    list-style: none;
    &:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 4px;
      background-color: #eeeeee;
      left: 50%;
      margin-left: -1.5px;
    }
    li{
        .label{
            .card{
                padding: 5%;
                line-height: 1.5em;
            }
            border-width: 3px;
        }
        .label.right{
            background:#00BCD4 !important;
            border-color: #E7B216 !important;
        }
        .label.left{
            background:#E7B216 !important;
            border-color: #00BCD4 !important;
        }
    }
}
